div(class="progress" role="progressbar" aria-label="" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height: 3px" id="progress-bar" data-lock="false" hidden)
  div(class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%")
