html
    head
        include includes/head.pug


    body
        //- https://source.unsplash.com/random/1920x1080?wallpapaer
        img(id='background' style='z-index: -1')

        include includes/progress.pug
        include includes/settings.pug
        include includes/calendar.pug

    footer
        include includes/footer.pug
