html
    head
        include includes/head.pug


    body
        //- https://source.unsplash.com/random/1920x1080?wallpapaer
        img(id='background' style='z-index: -1')

        include includes/progress.pug
        include includes/settings.pug

        div(class='container text-center')
            div(class='row align-items-center')
                button(type='button' class='btn btn-primary ms-1 mt-3' id='login-button' hidden) Authorize
                button(type='button' class='btn btn-primary ms-1 mt-3' id='logout-button' hidden) Logout

            div(class='row align-items-center mt-3 card shadow' id='events-list-text' hidden)
                div(class='card-body')
                    p(class='card-text text-truncate text-start ms-1' id='events')

            div(class='container' id='events-div' hidden)
                div(class='row' id='events-spreasheet')
                div(class='row foundation rounded')


    footer
        include includes/footer.pug
