.foundation {
    height: 5px;
    padding: 0;
    background-color: black;
}

#events-spreasheet {
    position: relative;
    padding: 0;
    height: 100px;
}

#events-list-text {
    width: 25%;
}
